In [79]:
import pandas as pd
import numpy as np
from re import sub
from decimal import Decimal

In [80]:
airbnbs = pd.read_csv("./Airbnb Datasets/combined_data-2016-2019.csv")
regions = pd.read_csv("./Homeless Datasets/AirbnbRegions1.csv")
demographics = pd.read_csv("./Homeless Datasets/Demographics.csv")
length = pd.read_csv("./Homeless Datasets/Length.csv")
numPeople = pd.read_csv("./Homeless Datasets/NumberofPeople.csv")
prev_location = pd.read_csv("./Homeless Datasets/Previous_Location.csv")
homeless = pd.read_csv("./Homeless Datasets/2007-2014-PIT-Counts-by-State.csv")

In [29]:
#sanity check
airbnbs.head(1)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,year_found
0,241032,Stylish Queen Anne Apartment,956883,Maija,Queen Anne,47.636289,-122.371025,Entire home/apt,$85.00,1,207,1/2/2016,4.07,2,346,2016

In [30]:
regions.head(1)

,Region,2019 Persons on Streets/Outside,2019 Persons in Tents,2019 Persons in Buildings,2019 Persons in Car,2019 Persons in RV,2019 Persons in Van,2019 Total Unsheltered Persons,2019 % Of Total,2018 Total Unsheltered Persons,2018 % Of Total,2017 Total Unsheltered Persons,2017 % Of Total
0,East Country,40,16,2,203,35,41,337,6%,393,6%,319,6%

In [31]:
demographics.head(1)

                  Age Count Column N%
0  Less than 18 years    17        1%

In [32]:
length.head(1)

  How long have you been homeless this current time? Count Column N%
0                                     7 days or less    20        2%

In [33]:
numPeople.head(1)

   How many people are in your household including yourself?  Count Count N%
0                                                  1            771      81%

In [34]:
prev_location.head(1)

,"Immediately before you became homeless, where were you living?",Count,Column N%
0,A home owned or rented by you or your partner,311,38%

In [35]:
homeless.head(1)

,State,"Change in Total Homelessness, 2013-2014","Change in Total Homelessness, 2012-2014","Change in Total Homelessness, 2011-2014","Change in Total Homelessness, 2010-2014","Change in Total Homelessness, 2009-2014","Change in Total Homelessness, 2008-2014","Change in Total Homelessness, 2007-2014"
0,AK,-8.3%,-6.7%,-16.2%,-4.2%,-10.4%,8.4%,8.6%

# Airbnb Data Analysis

__In what neighborhood are most Airbnbs located?__

In [81]:
airbnbs["neighbourhood"].value_counts().head(5)

Belltown       715
Broadway       579
Minor          492
Wallingford    472
Fremont        445
Name: neighbourhood, dtype: int64

__What is the most expensive Airbnb?__

In [83]:
#convert prices (strings) to integers
intPrices = []
for price in airbnbs["price"]:
    if isinstance(price, str):
        intPrices.append(Decimal(sub(r'[^\d.]', '', price)))
airbnbs["price"] = intPrices

In [84]:
airbnbs[airbnbs['price'] == max(airbnbs['price'])]['price'].drop_duplicates()

10319    5400
Name: price, dtype: object

__In what neighborhoods are Airbnbs the most expensive (within a $200 range of the max)?__

In [86]:
airbnbs[airbnbs['price'] == range(max(airbnbs['price']))]['neighbourhood'].value_counts()

Harrison/Denny-Blaine    1
Name: neighbourhood, dtype: int64

__What is the minimum price for an Airbnb?__

In [87]:
airbnbs[airbnbs['price'] == min(airbnbs['price'])]['price'].drop_duplicates()

7567    0
Name: price, dtype: object

__In what neighborhoods are Airbnbs the least expensive?__

In [89]:
airbnbs[airbnbs['price'] == min(airbnbs['price'])]['neighbourhood'].value_counts()

Lawton Park    1
Broadway       1
Name: neighbourhood, dtype: int64

__Are there any Airbnbs <$20?__

In [67]:
airbnbs[airbnbs["price"] < 20]

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,year_found
7567,18670293,Good Vibes Modern 1BR w/ Epic view,7916599,Brooke,Broadway,47.61545,-122.31687,Entire home/apt,0,3,6,8/22/2018,0.23,1,83,2019
7733,19293242,Entire 3BR house in Magnolia -Seattle,69342526,Mahdi & Delasa,Lawton Park,47.65192,-122.38440,Entire home/apt,0,1,12,8/11/2018,0.50,2,0,2019
7815,19594746,Cozy Wallingford bedroom 1 mile to UW campus,22575565,Ed,Wallingford,47.65893,-122.32607,Private room,10,3,25,8/9/2019,1.02,3,294,2019
7951,19951176,Haller Lake Private Basement Suite,1247007,Alex,Haller Lake,47.71808,-122.33760,Entire home/apt,10,2,50,7/31/2019,2.26,1,29,2019
8242,20796522,Seattle Private Bed&Bath Suite - Walk Everywhere!,2504722,Kate,Wallingford,47.66411,-122.32845,Private room,10,1,145,8/15/2019,6.21,1,342,2019
8271,20883221,Historic 1906 Seattle Home - Columbia City,22588057,Darcy,Columbia City,47.55783,-122.27962,Entire home/apt,18,2,12,9/21/2018,0.68,4,257,2019
8761,22108287,Luxurious but basic cot near Downtown Seattle!,160528030,Anirudh,Atlantic,47.59234,-122.30286,Private room,10,1,3,9/3/2018,0.17,1,0,2019
10457,28006590,The Perfect Spot,48074181,David,North Delridge,47.55842,-122.36137,Private room,10,1,21,7/14/2019,1.86,1,0,2019
10499,28226016,Private Cottage 2 Beds & Bath (中文) Free Parking,159891328,Emily,North Beacon Hill,47.57752,-122.31265,Entire home/apt,19,1,100,8/12/2019,8.70,1,17,2019
10890,30068037,"Modern, Spacious Town House in heart of Seattle",215121392,Winnie,Lawton Park,47.65511,-122.38557,Private room,10,1,28,7/14/2019,3.04,3,169,2019
10926,30261132,Bed&Bath Free Parking W LR STA Airport DT UW (中文),215426444,Emily,Mount Baker,47.57408,-122.29488,Private room,19,1,31,5/23/2019,3.66,6,0,2019
11058,30982022,2 Beds&Bath Free Parking& LR STA Airport DT UW...,215426444,Emily,Columbia City,47.57562,-122.29796,Private room,10,1,16,5/28/2019,2.18,6,0,2019
11123,31365599,Fremont Place: Your kick-off Opp.,127118282,Kate,Fremont,47.66254,-122.35260,Private room,10,14,1,1/31/2019,0.15,1,17,2019
11211,31799587,Private 2 Beds & Bath Guest Suite (中文)Free Par...,215426444,Emily,South Beacon Hill,47.52326,-122.28458,Entire home/apt,10,1,39,8/9/2019,6.80,6,24,2019
11217,31809233,Guest House 2 Bed&Bath Free Parking中文TO Airpor...,215426444,Emily,South Beacon Hill,47.52493,-122.28846,Entire home/apt,10,1,43,8/8/2019,6.48,6,9,2019
11742,33552722,Private House 3 Beds& 1 Bath LR STA Airport DT...,215426444,Emily,Mount Baker,47.57555,-122.29397,Entire home/apt,10,1,19,8/5/2019,4.75,6,38,2019
12777,37539012,Top 5 Airbnb: In the heart of Seattle !,283512357,Andy,Mann,47.61841,-122.30175,Shared room,15,1,0,NaN,NaN,24,7,2019
12778,37539339,Top 5 Airbnb: City Center ! Seattle Downtown,283512357,Andy,Stevens,47.61969,-122.30290,Shared room,15,1,0,NaN,NaN,24,7,2019
12779,37539445,Seattle City center ! Pike Place Market near !,283512357,Andy,Minor,47.61786,-122.30334,Shared room,15,1,0,NaN,NaN,24,6,2019
12780,37539798,Top 5 Airbnb: Travelers welcome ! Pike place near,283512357,Andy,Mann,47.61857,-122.30148,Shared room,15,1,0,NaN,NaN,24,3,2019
12781,37539829,Top 5 Airbnb: just 10 Minutes to Downtown !,283512357,Andy,Minor,47.61830,-122.30266,Shared room,15,1,0,NaN,NaN,24,7,2019
12782,37539879,Steps to Downtown ! Farmers Market is near !,283512357,Andy,Minor,47.61909,-122.30259,Shared room,15,1,0,NaN,NaN,24,5,2019
12783,37539999,Top 5 Airbnb: LOCATION ! Just 10 min to Downto...,283512357,Andy,Stevens,47.61934,-122.30314,Shared room,15,1,0,NaN,NaN,24,6,2019
12784,37540005,Seattle city Center ! Farmers Market near ! WOW !,283512357,Andy,Mann,47.61935,-122.30208,Shared room,15,1,0,NaN,NaN,24,6,2019
12786,37540253,TOP Location !! Seattle city center ! WOW !,283512357,Andy,Mann,47.62044,-122.30004,Shared room,15,1,0,NaN,NaN,24,7,2019
12787,37540321,Top 5 Airbnb: CENTRAL LOCATION ! Downtown !,283512357,Andy,Minor,47.61787,-122.30348,Shared room,15,1,0,NaN,NaN,24,5,2019
12788,37540595,Top Location ! Seattle Pike Place Market ! WOW !,283512357,Andy,Mann,47.61938,-122.30176,Shared room,15,1,0,NaN,NaN,24,7,2019
12789,37540729,Central Location ! Close to anywhere ! City ce...,283512357,Andy,Mann,47.61851,-122.30119,Shared room,15,1,0,NaN,NaN,24,6,2019
12790,37540740,BEST LOCATION ! UW and Seattle city center !,283512357,Andy,Minor,47.61781,-122.30343,Shared room,15,1,0,NaN,NaN,24,7,2019
12797,37566460,Amazing Location ! Travelers Welcome ! WOW !,283512357,Andy,Mann,47.61814,-122.30217,Shared room,15,1,0,NaN,NaN,24,7,2019
12798,37566563,LOCATION ! Downtown ! Pike place Market nearby !,283512357,Andy,Mann,47.61907,-122.30129,Shared room,15,1,0,NaN,NaN,24,5,2019
12799,37566687,"Top 5 Airbnb: Farmes market, Downtown nearby !...",283512357,Andy,Stevens,47.62075,-122.30345,Shared room,15,1,0,NaN,NaN,24,7,2019
12800,37566803,Top 5 Airbnb: Heart of Seattle ! Amazing locat...,283512357,Andy,Mann,47.61845,-122.30196,Shared room,15,1,0,NaN,NaN,24,7,2019
12802,37566870,Top 5 Airbnb: Travelers welcome ! Good location !,283512357,Andy,Mann,47.61897,-122.30176,Shared room,15,1,0,NaN,NaN,24,7,2019
12803,37566933,Top 5 Airbnb: Washington University so close !,283512357,Andy,Mann,47.61956,-122.30177,Shared room,15,1,0,NaN,NaN,24,7,2019
12804,37566973,Top 5 Airbnb: UW so close ! Students welcome !,283512357,Andy,Mann,47.61837,-122.30112,Shared room,15,1,0,NaN,NaN,24,7,2019
12805,37567192,Top 5 Airbnb: UW so close ! AWESOME LOCATION !,283512357,Andy,Mann,47.61938,-122.30164,Shared room,15,1,0,NaN,NaN,24,7,2019
12806,37567381,LOCATION ! UW and Microsoft ! Amazon Spheres !,283512357,Andy,Minor,47.61797,-122.30294,Shared room,15,1,0,NaN,NaN,24,7,2019
12807,37567912,Seattle city center ! Travelers welcome !,283512357,Andy,Minor,47.61819,-122.30352,Shared room,15,1,0,NaN,NaN,24,4,2019
12808,37567976,Farmers Market & Downtown so close ! Good loca...,283512357,Andy,Minor,47.61806,-122.30401,Shared room,15,1,0,NaN,NaN,24,5,2019

__In what area is the longest available Airbnb?__

__Which cities have a greater amount of Airbnbs that are vacant?__

__How many Airbnb’s are available in the Seattle area per day (trends by day of the week)?__

__How many are occupied vs. vacant?__

__Which demographic of people do Airbnb’s mostly attract?__

__Which cities have a greater amount of Airbnbs that are vacant?__

# Homeless Data Analysis

__What is the homeless rate in Seattle as of 2019?__

__Has the homeless rate in Seattle increased or decreased over the past few years?__

__What is the demographic of homelessness in the Seattle area?__

__Where do most homeless people usually stay?__

__In what region are the majority of homeless people living on the streets/outside?__

__Which neighborhoods have a higher rate of homeless people?__

# Airbnb and Homeless Data Analysis

__On average, how many Airbnbs are near large amounts of homeless people?__

# Critical Thinking

__How can we decrease the homeless rate in Seattle?__

__How accessible are Airbnbs to homeless people?__

__What factors affect the homeless rate in Seattle?__

__How can we make Airbnbs more open to homeless people?__